$primary: rgba(150,17,99,255);
$secondary: rgba(87,83,78,255);

footer {
    position: relative;
    background-color: $secondary;
    padding: 15px 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
    color: white;
    font-size: 0.9rem;
}

.footer-social {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    a {
        text-decoration: none;
        i {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: $secondary;
            background-color: white;
            padding: 5px;
            border-radius: 50%;
        }
    }
}

.footer-logo {
    display: flex;
    align-items: center;
    width: 80px;
    img {
        width: 100%;
    }
}

.footer-data {
    text-align: center;
    p {
        margin: 0;
    }
}

.footer-legal {
    text-align: center;
    display: flex;
    flex-direction: column;
    a {
        color: white;
        text-decoration: none;
    }
}