<footer>
    <div class="footer-social">
        <a href="https://www.facebook.com/corinne.soares.7" target="_blank" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UC2rbBw7CljQDHStESFsdm3Q" target="_blank" aria-label="Youtube"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.instagram.com/corinne.soares_reiki/" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/corinne-soares-32aa3826/" target="_blank" aria-label="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="footer-logo">
        <img src="../assets/accueil/favicon.webp" alt="Logo Corinne Soares">
    </div>

    <div class="footer-data">
        <p>1c, rue Charles Deguy</p>
        <p>91230 Montgeron</p>
    </div>

    <div class="footer-legal">
        <a [routerLink]="['confidentialite']">Politique de confidentialité</a>
        <a [routerLink]="['mentions']">Mentions Légales</a>
        <p>Copyright © 2022 Corinne SOARES</p>
    </div>
</footer>

