<div class="container">
    <header>
        <h1>Prestations</h1>
        <p data-aos="fade-up" data-aos-duration="1500">Je propose des formations et consultations 
            <span class="important">à mon domicile ou en visio</span> sur de nombreuses techniques différentes.</p>
        <p data-aos="fade-left" data-aos-duration="1500">Mon cabinet principal se situe à <span class="important">Montgeron</span> dans le nord de l’Essonne.</p>
        <p data-aos="fade-down" data-aos-duration="1500">Les séances se déroulent à Montgeron, à l’adresse suivante : <span class="important">1c, rue Charles Deguy 91230 Montgeron.</span></p>
    </header>

    <main>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Reiki</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Lithothérapie</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Energétique</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Annales Akashiques</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Mémoires Celullaires</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Hypnose</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>DMO</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Sophrologie</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Réflexologie</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Soin Holistique REC</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Coupeur de feu</h2>
            </div>
        </a>
        <a [routerLink]="['reiki']" data-aos="fade-up" data-aos-duration="1500">
            <div class="prestation" data-aos="fade-up" data-aos-duration="1500">
                <h2>Soin des Pléiades</h2>
            </div>
        </a>
    </main>
</div>
