$primary: rgba(150,17,99,255);
$secondary: rgba(87,83,78,255);

.container {
    color: $secondary;
    font-weight: 300;
}

header {
    padding: 10px 25px;
    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 400;
        padding: 60px 0 0;
        margin: 0;
    }
    p {
        text-align: justify;
    }
}

a {
    text-decoration: none;
    color: $primary;
}

.prestation {
    padding: 15px;
    border: 1px $secondary solid;
    margin: 25px;
    border-radius: 5px;
    h2 {
        font-size: 1.3rem;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
    }
}

.important {
    font-weight: 500;
    color: $primary;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 10vw;
    }
    header h1 {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    main a div:hover {
        background-color: $primary;
        color: white;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        a {
            width: 50%;
            div {
                margin: 10px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .container {
        padding: 0 15vw;
    }
}