<div class="container">
    <header>
        <h1>Formules et cartes Cadeaux</h1>
        <p data-aos="fade-up" data-aos-duration="1500">Profitez des formules pour vous faire plaisir ou offrir à vos proches.</p>
    </header>

    <main>
        <div class="formule" data-aos="fade-left" data-aos-duration="1500">
            <h2 class="formule-title">Formule 1</h2>
            <p class="formule-price">357.5€</p>
            <p class="formule-description">Pour l’achat de 5 Soins le 6è est à -50%.</p>
        </div>
        <div class="formule" data-aos="fade-down" data-aos-duration="1500">
            <h2 class="formule-title">Formule 2</h2>
            <p class="formule-price">650€</p>
            <p class="formule-description">Pour l’achat de 10 Soins le 11è est gratuit.</p>
        </div>
        <div class="formule" data-aos="fade-up" data-aos-duration="1500">
            <h2 class="formule-title">Carte cadeau</h2>
            <p class="formule-price">105€</p>
            <p class="formule-description">Réduction valable pour l’achat de 2 soins.</p>
        </div>

    </main>
</div>
