<div class="container">
    <h1>Mentions Légales</h1>

    <h2>Édition du site Internet</h2>
    <p>Le site Corinne REIKI, accessible à l’adresse www.corinne-reiki.com est édité par Corinne REIKI, domiciliée au 1C Rue Deguy – 91230 MONTGERON.<br>
        06.30.59.10.35, corinne.reiki@live.fr</p>

    <h2>Hébergeur du site Internet</h2>
    <p>Ce site est hébergé par la société OVH : <a href="http://www.ovh.com" target="_blank">ovh.com</a></p>
    <p>Le nom de domaine est hébergé par la société OVH : <a href="http://www.ovh.com" target="_blank">ovh.com</a></p>
    <p>OVH SAS au capital de 10 069 020 € RCS Lille Métropole 424 761 419 00045</p>
    <p>Siège social : 2 rue Kellermann – 59100 Roubaix – France.</p>

    <h2>Respect de la propriété intellectuelle</h2>
    <p>Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner le Site et plus généralement tous les éléments reproduits ou utilisés sur le Site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.</p>
    <p>Ils sont la propriété pleine et entière de l’Editeur ou de ses partenaires, sauf mentions particulières. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l’accord préalable et écrit de l’Editeur, sont strictement interdites. Le fait pour l’Editeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.</p>
    <p>Seule l’utilisation pour un usage privé dans un cercle de famille est autorisée et toute autre utilisation est constitutive de contrefaçon et/ou d’atteinte aux droits voisins, sanctionnées par Code de la propriété intellectuelle.</p>
    <p>La reprise de tout ou partie de ce contenu nécessite l’autorisation préalable de l’Editeur ou du titulaire des droits sur ce contenu.</p>

    <h2>Liens hypertextes</h2>
    <p>Le Site peut contenir des liens hypertexte donnant accès à d’autres sites web édités et gérés par des tiers et non par l’Editeur. L’Editeur ne pourra être tenu responsable directement ou indirectement dans le cas où lesdits sites tiers ne respecteraient pas les dispositions légales.</p>
</div>
