$primary: rgba(150,17,99,255);
$secondary: rgba(87,83,78,255);

.container {
    color: $secondary;
    font-weight: 300;
}

header {
    height: 85vh;
    position: relative;
    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 400;
        padding: 60px 25px 0;
    }
    img {
        width: 100%;
        position: absolute;
        top: 320px;
        left: 0;
    }
}

main {
    .important, a {
        font-weight: 500;
        color: $primary;
        outline: none;
    }
    img {
        width: 100%;
    }
    .main-explaination {
        padding-top: 15px;
    }
    .main-explaination, .main-techniques, .main-formation, .main-medias {
        p {
            padding: 10px 15px;
        }
    }
    .quote {
        font-size: 1.2rem;
        font-weight: 300;
        color: $secondary;
        padding: 0 25px;
        font-family: 'Arima', cursive;
        font-style: italic;
        text-align: center;
    }
    .link-btn {
        color: white;
        background-color: $primary;
        padding: 10px 20px;
        width: fit-content;
        text-align: center;
        font-weight: 500;
        margin: auto;
        border-radius: 25px;
        text-decoration: none;
        display: flex;
        outline: none;
    }
}

