<div class="container">
    <header>
        <h1>Le REIKI comme<br> point de départ</h1>
        <img src="./assets/apropos/corinne2.webp" alt="Photo de Corinne Soares">
    </header>

    <main>
        <div class="main-explaination">
            <p data-aos="fade-up" data-aos-duration="1500">Je m’appelle Corinne, j’ai 54 ans et suis mère de 3 enfants.</p>
            <p data-aos="fade-right" data-aos-duration="1500">Après une formation scientifique et une première partie de ma carrière dans la chimie,
                j’ai passé quelques années dans le domaine de la Qualité.
                Un jour, jeune adulte, j’ai découvert que j’avais une maladie nommée la <span class="important">Sclérose en Plaques</span>.
                Maladie pour laquelle la médecine ne sait que proposer des solutions palliatives et non curatives.</p>
            <p data-aos="fade-down" data-aos-duration="1500">Loin de m’écarter de la médecine traditionnelle, que j’ai continué à consulter,
                j’ai cherché autour de moi toutes les <span class="important">solutions qui pouvaient amener un relatif confort</span> à ma situation.</p>
            <img src="./assets/apropos/formations.webp" alt="Photo de Corinne Soares" data-aos="fade-up" data-aos-duration="1500">
        </div>

        <div class="main-techniques">
            <p data-aos="fade-right" data-aos-duration="1500">Après différents essais de médecines alternatives en tant que « patient »,
                j’ai découvert le Reiki qui m’a apporté le plus grand bien.</p>
            <p data-aos="fade-down" data-aos-duration="1500">Le Reiki n’est pas la seule discipline à <span class="important">m’avoir aidée</span>, et il ne faut pas oublier la méthode du Dc Kousmine, la Lithothérapie,
                la Sophrologie, la PNL, les Accords Toltèques, la « pensée positive »,… et depuis cette année les Mémoires Cellulaires.</p>
            <p data-aos="fade-up" data-aos-duration="1500">Cependant, le Reiki reste la discipline prédominante et qui permet à elle seule le <span class="important">lâcher-prise et le bien-être immédiats.</span></p>
            <p class="quote" data-aos="fade-right" data-aos-duration="1500">"J’espère que le Reiki vous apportera autant d’apaisement et de sérénité que pour moi."</p>
        </div>

        <div class="main-formation">
            <p data-aos="fade-down" data-aos-duration="1500">Depuis maintenant plus de 15 ans, je pratique le Reiki pour moi,
                et le plus grand bonheur de mon entourage et des gens que je rencontre.</p>
            <p data-aos="fade-up" data-aos-duration="1500">Cela fait également <span class="important">10 ans que j’enseigne le Reiki</span> et 10 ans que
                je participe aux <span class="important">Salons Parisiens</span> (Bien-Etre Médecines Douces, Vivre Autrement et Salon Zen).</p>
            <p data-aos="fade-right" data-aos-duration="1500">Les Salons m'ont permis de vous rencontrer. C'est avant tout un lieu d'échange pour moi et aussi de découverte pour tous. 
                Merci à toutes celles et ceux que j’ai eu le plaisir de rencontrer durant ces évènements.</p>
            <img src="./assets/apropos/salons.webp" alt="Corinne Soares au Salon du Bien-être" data-aos="fade-down" data-aos-duration="1500">
        </div>

        <div class="main-medias">
            <p data-aos="fade-up" data-aos-duration="1500">J'ai également eu le plaisir d'être <span class="important">interviewée</span> à plusieurs reprises, notamment au cours 
                <a href="https://www.youtube.com/watch?v=UBz9ySmcp3A" target="_blank">d'une émission des "Reporters du Net"</a>, 
                ainsi que lors <a href="https://www.youtube.com/watch?v=oAdi-Lam4js" target="_blank">d'un reportage de "Sénateurs en Mission"</a>.</p>
        </div>
    </main>

</div>
