<nav>
    <div class="nav-btn">
        <button (click)="toggle()" [ngClass]="{open: isOpen === true}" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>

<div class="nav-menu" [ngClass]="{clicked: isOpen === true}">
    <button class="nav-menu__btn" (click)="accueil()">Accueil</button>
    <button class="nav-menu__btn" (click)="aPropos()">A propos</button>
    <button class="nav-menu__btn" (click)="aPropos()">Prestations</button>
    <button class="nav-menu__btn" (click)="aPropos()">Formules et cartes cadeaux</button>
    <button class="nav-menu__btn" (click)="aPropos()">Contact</button>
</div>

