<nav>
    <div class="nav-btn">
        <button (click)="toggle()" [ngClass]="{open: isOpen === true}" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>

<div class="nav-menu" [ngClass]="{clicked: isOpen === true}">
    <a [routerLink]="['']" (click)="toggle()">Accueil</a>
    <a [routerLink]="['apropos']" (click)="toggle()">A propos</a>
    <a [routerLink]="['']" (click)="toggle()">Prestations</a>
    <a [routerLink]="['']" (click)="toggle()">Formules et cartes cadeaux</a>
    <a [routerLink]="['']" (click)="toggle()">Contact</a>
</div>

