<div class="container">
    <header>
        <div class="header-top">
            <div class="ov"></div>
        </div>
        <h1>Méthodes de Détente Naturelles</h1>
        <p class="quote">Restez serein et sereine aujourd'hui, comme hier et comme demain !</p>
    </header>

    <main>
        <div class="main-explaination" id="explaination">
            <h2>Consultations et Formations</h2>
            <p>Je reste présente à vos côtés pour vous aider.</p>
            <p>Je propose des consultations et des formations à mon cabinet à Montgeron (91) ou en visio, par Skype, WhatsApp ou Messenger, avec paiement par chèque, virement ou autre moyen numérique.</p>
            <p>Les formations Reiki sont en individuel. Toutes les autres formations sont en petit groupe, maximum 6/7 personnes.</p>
            <p>Vous pouvez m’appeler pour prendre RDV ou simplement en savoir plus au 06.30.59.10.35.</p>
            <p><span class="bold">Une séance ne remplace pas un traitement médical en cours. Le thérapeute Énergéticien ne peut se substituer au médecin car une séance n’est pas un acte médical.</span></p>
            <a [routerLink]="['/routePath']" class="link-btn">Prestations proposées</a>
        </div>

        <div class="main-techniques">
            <h2>Les autres techniques</h2>
            <p>Bien que le Reiki soit mon point de départ, je reste à l'écoute de votre attente et de votre sensibilité. Pour cela, depuis de nombreuses années, j'ai cherché à apprendre d'autres méthodes de détente naturelles.</p>
            
            <p>Parmi celles-ci, je citerai uniquement celles qui ont retenu mon attention:</p>
            <ul>
                <li>Reiki USUI, KARUNA, SHAMBALLA et TIBETAIN</li>
                <li>Annales Akashiques</li>
                <li>Sophrologie</li>
                <li>Réflexologie faciale et plantaire</li>
                <li>Soin spirituel Rééquilibrage Energétique Complet</li>
                <li>Mémoires Cellulaires</li>
                <li>Lithothérapie</li>
                <li>Hypnose</li>
                <li>Désensibilisation par Mouvements Occulaires (DMO)</li>
            </ul>
        </div>

        <div class="main-presentation">
            <h2>A propos</h2>
            <div>
                <p>Tout a commencé avec le Reiki. Voilà depuis plus de 15 ans que je le pratique pour moi et ma famille.</p>
                <a [routerLink]="['/routePath']" class="link-btn">Voir mon parcours</a>
                <img src="./assets/accueil/corinne-depart.webp" alt="Photo de Corinne Soares">
            </div>
    
            <div>
                <p>Depuis 10 ans, je participe aux principaux Salons du Bien-être sur Paris (Salon des Médecines Douces, Salon Zen) et également dans la région de Montgeron (91).</p>
                <p>Les Salons m'ont permis de vous rencontrer. C'est avant tout un lieu d'échange pour moi et aussi de découverte pour tous.</p>
                <p>Merci à toutes celles et ceux que j’ai eu le plaisir de rencontrer durant ces évènements.</p>
                <img src="./assets/accueil/salons.webp" alt="Photo de Corinne Soares dans un salon bien-être">
            </div>

            <div>
                <p>J'ai également eu le plaisir d'être interviewée à plusieurs reprises, notamment au cours <a href="https://www.youtube.com/watch?v=UBz9ySmcp3A" target="_blank">d'une émission des "Reporters du Net"</a>, ainsi que lors <a href="https://www.youtube.com/watch?v=oAdi-Lam4js" target="_blank">d'un reportage de "Sénateurs en Mission"</a>.</p>
            </div>
        </div>

        <div class="main-contact">
            <h2>Me contacter</h2>
            <p>06 30 59 10 35</p>
            <a href="mailto:corinne.reiki@live.fr" target="_blank">corinne.reiki@live.fr</a>
            <a href="https://www.doctolib.fr/hypnotherapeute/montgeron/corinne-soares-montgeron?utm_campaign=website-button&utm_source=corinne-soares-montgeron-website-button&utm_medium=referral&utm_content=option-4&utm_term=corinne-soares-montgeron" target="_blank">Page Doctolib</a>
        </div>
    </main>
</div>

