$primary: rgba(150,17,99,255);
$secondary: rgba(87,83,78,255);
$tertiary: rgba(228,212,226,255);

// allow to scroll 100%page
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

// allow to scroll 100%page
header, .main-explaination, .main-techniques {
    scroll-snap-align: start;
    height: 100vh;
}

header {
    height: 100vh;
    position: relative;
    .header-top {
        position: relative;
        padding: 25px;
        background-image: url(/../assets/accueil/bg-flowers.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 55vh;
        animation: appear 2s ease-in-out;
        .ov {
            background-image: linear-gradient(white,rgba(250,250,250,0) 90%, white);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
        line-height: 3rem;
        margin: 0;
        color: $primary;
        padding: 0 25px;
        animation: appear 4s ease-in-out;
    }
    .quote {
        font-size: 1.2rem;
        font-weight: 300;
        color: $secondary;
        padding: 25px;
        animation: appear 4s ease-in-out;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-contact {
    background-color: $primary;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    h2 {
        font-size: 1.6rem;
    }
    p, a {
        width: 200px;
        padding: 10px;
        background-color: white;
        color: $primary;
        text-decoration: none;
        border-radius: 25px;
        margin-bottom: 15px;
        text-align: center;
    }
}