$primary: rgba(150,17,99,255);
$secondary: rgba(87,83,78,255);

header {
    height: 80vh;
    .header-bg {
        position: relative;
        padding: 25px;
        background-image: url(../assets/accueil/bg-flowers.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        animation: appearBg 3s ease-in-out;
        .ov {
            background-image: linear-gradient(white,rgba(250,250,250,0) 90%, white);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 0;
        color: $primary;
        padding: 10px 25px;
        animation: appear 3s ease-in-out;
        font-weight: 500;
    }
}

.quote {
    font-size: 1.1rem;
    font-weight: 300;
    color: $secondary;
    padding: 0 25px;
    font-family: 'Arima', cursive;
    font-style: italic;
    text-align: center;
}

.side {
    text-align: left;
    animation: appear 3s ease-in-out;
}

.important {
    font-weight: 500;
    color: $primary;
}

@keyframes appearBg {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main {
    text-align: justify;
}

// explaination offers
.main-explaination, .main-offers {
    color: $secondary;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    row-gap: 30px;
    div {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        img {
            width: 100%;
            border-radius: 5px;
        }
    }

    h2, p {
        margin: 0;
    }
    h2 {
        font-size: 1.1rem;
        text-transform: uppercase;
    }
    &__techniques {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}

.link-btn {
    color: white;
    background-color: $primary;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    border-radius: 25px;
    text-decoration: none;
    outline: none;
}

@media screen and (min-width: 768px) {
    header {
        height: 75vh;
        h1 {
            font-size: 4rem;
            line-height: 4rem;
            padding-left: 10vw;
        }
        p {
            padding-left: 10vw;
        }
    }
    main {
        display: flex;
        justify-content: center;
        padding: 0 10vw;
    }
    .main-explaination, .main-offers {
        width: 50%;
        h2 {
            text-align: left;
        }
    }
}

@media screen and (min-width: 992px) {
    header {
        position: relative;
        .header-bg {
            height: 70vh;
        }
        h1 {
            font-size: 4.5rem;
            line-height: 4.5rem;
            position: absolute;
            top: 45vh;
            left: 20vw;
            padding: 0 20px;
        }
        p {
            position: absolute;
            top: 65vh;
            left: 20vw;
            padding: 0 20px;
        }
    }
    .quote {
        font-size: 1.2rem;
    }
    main {
        padding: 0 20vw;  
        column-gap: 60px;  
    }
    .main-explaination {
        div {
            img {
                width: 55%;
                min-width: 250px;
                margin: 0 auto;
            }
        }
    }

}

