<div class="container">
    <header>
        <div class="header-bg">
            <div class="ov"></div>
        </div>
        <h1>Méthodes de<br> Détente Naturelles</h1>
        <p class="quote side">"Restez serein et sereine aujourd'hui, comme hier et comme demain !"</p>
    </header>

    <main>
        <div class="main-explaination">
            <div class="main-explaination__presentation">
                <p data-aos="fade-up" data-aos-duration="1500">Tout a commencé avec le Reiki, que je pratique depuis maintenant plus de 15 ans pour moi et ma famille.</p>
                <img src="./assets/accueil/corinne-depart.webp" alt="Photo de Corinne Soares" data-aos="fade-right" data-aos-duration="1500">
            </div>
            
            <div class="main-explaination__techniques">
                <p data-aos="fade-down" data-aos-duration="1500">J'ai par la suite cherché à apprendre d'autres méthodes de détente naturelles. Cela m'a amenée à me former sur diverses techniques telles que le <span class="important">Reiki USUI, KARUNA, SHAMBALLA et TIBETAIN</span>, la <span class="important">Sophrologie</span>, les <span class="important">Mémoires Cellulaires</span> et bien d'autres.
                <p class="quote" data-aos="fade-up" data-aos-duration="1500">"Je reste présente à vos côtés pour vous aider."</p>
            </div>
        </div>

        <div class="main-offers">
            <div class="main-offers__top">
                <h2 data-aos="fade-right" data-aos-duration="1500">Consultations et Formations</h2>
                <p data-aos="fade-down" data-aos-duration="1500">Je vous reçois pour des <span class="important">consultations et des formations</span> à mon cabinet ou bien en visio. Les formations Reiki sont en individuel. Toutes les autres formations sont en petit groupe, maximum 6/7 personnes.</p>
            </div>
            <div class="main-offers__bottom">
                <p data-aos="fade-up" data-aos-duration="1500"><span class="bold">Une séance <span class="important">ne remplace pas un traitement médical en cours</span>. Le thérapeute Énergéticien ne peut se substituer au médecin car une séance n’est pas un acte médical.</span></p>
                <a [routerLink]="['prestations']" class="link-btn" data-aos="fade-right" data-aos-duration="1500">Prestations proposées</a>
                <p class="quote" data-aos="fade-down" data-aos-duration="1500">"Je reste à l'écoute de votre attente et de votre sensibilité."</p>
            </div>
        </div>
    </main>
</div>

