<main class="container">
    <header>
        <h1>Reiki USUI, Tibétain ou Shamballa</h1>
        <img src="./assets/formules/patient1.webp" alt="Patient durant un soin Reiki">
    </header>

    <div class="soin">
        <h2 data-aos="fade-up" data-aos-duration="1500">Soin</h2>
        <p data-aos="fade-left" data-aos-duration="1500" class="price">70,00 €</p>
        <div class="txt">
            <p data-aos="fade-down" data-aos-duration="1500">Le REIKI permet d’évoluer sur les plans : Physique, Mental, Emotionnel, Spirituel, Energétique… 
                Le REIKI est une très ancienne « SCIENCE CURATIVE » redécouverte par le Docteur MIKAO USUI dans un texte sacré vieux de 2500 ans.</p>
            <p data-aos="fade-up" data-aos-duration="1500">Le REIKI permet l’autonomie dans la gestion du stress. 
                Il vitalise le corps et l’esprit, rétablit l’harmonie psychique et le bien-être de l’âme.
                Il régularise le système énergétique, dissout le blocage et favorise la détente totale. 
                C'est une méthode holistique simple et agréable.</p>
            <p data-aos="fade-left" data-aos-duration="1500">Les séances sont individuelles et durent 1 heure. 
                Lors de notre première séance, nous commencerons par 1/4h de rencontre. Je vous présenterai la méthode et vous écouterai.</p>
            <p data-aos="fade-down" data-aos-duration="1500">Alors seulement la séance commencera. Ce sera une séance allongé(e), 
                habillé(e) et accompagnée de musique si vous le désirez. J’utiliserai ou non selon le besoin, mes connaissances en 
                lithothérapie en vous posant des pierres sélectionnées sur le corps. Cela renforcera mon action.</p>
            <p data-aos="fade-up" data-aos-duration="1500">Mon seul but est de <span class="attention">vous permettre d’atteindre le « lacher prise »</span> permettant à l’Energie 
                de travailler en vous. L’Energie ira d’elle-même où vous en avez besoin.</p>
            <p data-aos="fade-left" data-aos-duration="1500">Vous aurez peut-être une sensation de froid, une sensation de chaud, une subite envie de pleurer ou de rire aux éclats. 
                Tout dépendra de votre humeur du moment et de la façon dont l’Energie travaille en vous.</p>
        </div>
    </div>

    <div class="formations">
        <h2 data-aos="fade-down" data-aos-duration="1500">Formations</h2>
        <p class="price" data-aos="fade-up" data-aos-duration="1500">200,00 € - 400€ (selon le degré)</p>
        <div class="txt">
            <p data-aos="fade-left" data-aos-duration="1500"><span class="important">1er et 2ème degrés :</span> Les formations se décomposent en 4 degrés, dont les deux premiers seuls 
                suffisent à atteindre un bien-être « normal » dans un environnement familial.</p>
            <p data-aos="fade-down" data-aos-duration="1500"><span class="important">3ème degré :</span> Plus particulièrement conseillé aux personnes souhaitant venir en aide aux autres, 
                en dehors de son cercle de connaissances, en complément éventuelles d’autres techniques.</p>
            <p data-aos="fade-up" data-aos-duration="1500"><span class="important">4ème degré : (Maîtrise)</span> Proposé aux personnes désirant à terme transmettre et enseigner leur savoir.</p>
            <p data-aos="fade-left" data-aos-duration="1500">On ne peut passer au degré supérieur qu’en ayant reçu l’initiation aux degrés précédents, que ce soit avec moi ou un autre Maître Reiki Usui.</p>
            <p data-aos="fade-down" data-aos-duration="1500">Formation d’une journée en individuel.</p>
            <p data-aos="fade-up" data-aos-duration="1500">Me contacter pour la Maitrise.</p>
            <p data-aos="fade-left" data-aos-duration="1500">2 fois 3h maximum à 8 jours d'intervalle pour chaque niveau.</p>
        </div>
    </div>

    <div class="programme">
        <h2 data-aos="fade-down" data-aos-duration="1500">Programme de la Formation</h2>
        <h3 data-aos="fade-up" data-aos-duration="1500">Autonomie par l’auto traitement</h3>
        <p data-aos="fade-left" data-aos-duration="1500">Formation au 1er degré : 2 demi journées</p>
        <ul>
            <li data-aos="fade-down" data-aos-duration="1500">4 initiations à la réception d’énergie</li>
            <li data-aos="fade-up" data-aos-duration="1500">Historique du Reiki – Ses idéaux</li>
            <li data-aos="fade-left" data-aos-duration="1500">Les Chakras et leur relations avec le Reiki</li>
            <li data-aos="fade-down" data-aos-duration="1500">Apprentissage des différentes positions du Reiki sur soi et sur autrui</li>
        </ul>
        
        <h3 data-aos="fade-up" data-aos-duration="1500">Aide aux proches</h3>
        <p data-aos="fade-left" data-aos-duration="1500">Formation au 2eme degré : 2 demi journées</p>
        <ul>
            <li data-aos="fade-down" data-aos-duration="1500">Echange point de vue / interrogation sur le vécu du Premier degré</li>
            <li data-aos="fade-up" data-aos-duration="1500">Apprentissage de 3 symboles du 2ème degré</li>
            <li data-aos="fade-left" data-aos-duration="1500">Travail sur le mental (déprime, dépendance…)</li>
            <li data-aos="fade-down" data-aos-duration="1500">Harmonisation des situations</li>
            <li data-aos="fade-up" data-aos-duration="1500">Détection de trous d’énergie</li>
            <li data-aos="fade-left" data-aos-duration="1500">Programme d’un Cristal et son utilisation</li>
            <li data-aos="fade-down" data-aos-duration="1500">Les 2 initiations du 2è degré</li>
        </ul>
        
        <h3 data-aos="fade-up" data-aos-duration="1500">Maximum de la transmission d’énergie</h3>
        <p data-aos="fade-left" data-aos-duration="1500">Formation au 3ème degré : 1 journée et demi</p>
        <ul>
            <li data-aos="fade-down" data-aos-duration="1500">Révision des premier et deuxième degré</li>
            <li data-aos="fade-up" data-aos-duration="1500">Enseignement et initiation au symbole Maitre Reiki USUI</li>
            <li data-aos="fade-left" data-aos-duration="1500">Antahkarana « Cristal de REIKI à distance ». Grille des cristaux</li>
            <li data-aos="fade-down" data-aos-duration="1500">Techniques japonaises du Reiki</li>
            <li data-aos="fade-up" data-aos-duration="1500">Aspirine Reiki. Chirurgie psychique</li>
        </ul>
        
        <h3 data-aos="fade-left" data-aos-duration="1500">Devenir Maitre enseignant de Reiki</h3>
        <p data-aos="fade-down" data-aos-duration="1500">Initiation Maitrise 1 jour et demi, me contacter</p>
        <ul>
            <li data-aos="fade-up" data-aos-duration="1500">Enseignement Maitrise méthode USUI</li>
            <li data-aos="fade-left" data-aos-duration="1500">Symbole pour l’initiation du Maitre</li>
            <li data-aos="fade-down" data-aos-duration="1500">Rituel de l’eau</li>
            <li data-aos="fade-up" data-aos-duration="1500">Initiation du système USUI TIBET ( 9 symboles)</li>
            <li data-aos="fade-left" data-aos-duration="1500">Enseignement des 2 méthodes</li>
            <li data-aos="fade-down" data-aos-duration="1500">Pratique des méthodes apprises</li>
        </ul>
    </div>
</main>
